* {
	box-sizing: border-box;
	outline: none;
}


body {
	font-size: 0;
	margin: 0;
	min-width: 980px;
	max-width: 100%;
	overflow-x: hidden;
}

.m_width {
	max-width: 1170px;
	min-width: 980px;
	margin: 0 auto;
}

section.main {
	padding: 40px 120px 260px;
	position: relative;
	background-image: linear-gradient(to right, rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('./img/layer-5.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

section.main::before,
section.main::after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	width: 0;
	height: 0;
}

section.main::before {
	border-bottom: 120px solid #fff;
	border-right: 960px solid transparent;
	right: 50%;
}

section.main::after {
	border-bottom: 120px solid #fff;
	border-left: 960px solid transparent;
	left: 50%;
}

.logo {
	width: 141px;
	display: inline-block;
	vertical-align: middle;
}

.nav {
	width: calc(100% - 141px);
	padding-left: 20px;
	text-align: right;
	display: inline-block;
	vertical-align: middle;
}

.nav_link {
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	color: #f4f5f9;
	height: 52px;
	line-height: 52px;
	font-weight: 700;
	transition: color .3s;
	margin-left: 60px;
	display: inline-block;
	vertical-align: middle;
}

.nav_link:first-child {
	margin-left: 0;
}

.nav_link:hover {
	color: #e74c3c;
	border-bottom: 1px solid #e74c3c;
}

.section_content {
	margin-top: 235px;
	text-align: center;
}

.subtitle {
	color: #f4f5f9;
	font-size: 24px;
	font-weight: 400;
	letter-spacing: 1.2px;
}

h1 {
	color: #f4f5f9;
	font-family: "Open Sans";
	font-size: 72px;
	font-weight: 700;
	margin: 45px 0 0 0;
	text-transform: uppercase;
	letter-spacing: 7.2px;
}

.style_circle {
	position: relative;
	display: inline-block;
	margin-top: 45px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #e74c3c;
}

.style_circle::before,
.style_circle::after {
	content: '';
	display: block;
	width: 80px;
	height: 2px;
	position: absolute;
	top: 3px;
	background: #f1ebe7;
}

.style_circle::before {
	right: calc(100% + 14px);
}
.style_circle::after {
	left: calc(100% + 14px);
}

.description {
	max-width: 580px;
	margin: 0 auto;
	color: #cbc6c0;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	margin-top: 45px;
}

.buttons {
	margin-top: 68px;
}

.main_button {
	width: 225px;
	padding: 22px;
	box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25);
	background: transparent;
	border: 1px solid #ffffff;
	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	line-height: 1em;
	text-transform: uppercase;
	letter-spacing: -0.24px;
	text-align: center;
	cursor: pointer;
	transition: opacity .3s;
}

.main_button:hover {
	opacity: 0.7;
}

.m_primary {
	background-color: #e74c3c;
	border: none;
	margin-right: 30px;
}

.anchor_btn {
	position: absolute;
	bottom: -37px;
	left: calc(50% - 37px);
	width: 74px;
	height: 74px;
	background: rgba(255, 255, 255, .25);
	border-radius: 50%;
	padding: 5px;
	border: none;
	z-index: 1;
}

.anchor_inner {
	width: 64px;
	height: 64px;
	background: #f4f5f9;
	border-radius: 50%;
}

.anchor_btn svg {
	width: 22px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

/* ______section.advantages____________*/

section.advantages {
	padding: 124px 0px 100px; /*bot:  112-12*/
	border-bottom: 2px solid rgba(230, 231, 235, 1);
}

div.adv_inner {
	width: 249px;
	display: inline-block;
	text-align: center;
	margin-right: 56px;
	position: relative;
	vertical-align: top;
}

div.adv_inner:last-child {
	margin-right: 0px;
}

div.adv_icon {
	width: 73px;
	height: 73px;
	border: 1px solid rgba(230, 231, 235, 1);
	margin: 0 auto;
	transition: color, transform .3s;
}

div.adv_inner > img {
	position: absolute;
	left: 50%;
	top: 35.5px; 
	transform: translate(-50%, -50%);
}

div.adv_icon:hover {
	border-color:  rgba(231, 76, 60, 1);
	transform: rotate(45deg);
}

div.adv_icon:hover ~ h3 {
	color:  rgba(231, 76, 60, 1);
}

.adv_inner > h3 {
	font-family: ﻿OpenSans-Semibold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular, sans-serif;
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1.35px;
	color: rgba(106, 106, 106, 1);
	position: relative;
	transition: color .3s;
	margin: 30px 0 38px;
}

.adv_inner > h3:hover {
	color: rgba(231, 76, 60, 1);
}

h3::after {
	content: '';
	display: block;
	width: 41px;
	height: 2px;
	background: rgba(106, 106, 106, 1);
	position: absolute;
	bottom: -19px;
	right: calc(50% - 20.5px);
}

.adv_inner > h3 ~ p {
	font-family: ﻿SourceSansPro, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
	font-size: 12px;
	font-weight: 300;
	line-height: 20px;
	letter-spacing: 0.9px;
	color: rgba(153, 153, 153, 1);
}

/* ______section.advantages____________*/

section.history {
	padding: 141px 0 146px;
}

.history_left {
	display: inline-block;
	width: 43.25%;
	margin-right: 77px;
	vertical-align: top;
}

.history_right {
	display: inline-block;
	width: 50.17%; /*calc(100% - 77px - 506px);*/ 
	vertical-align: top;
}


.history_right h2 {
	font-family: SourceSansPro, sans-serif;
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 3.6px;
	color: rgba(106, 106, 106, 1);
	margin: 0 0 54px 35px; 
	position: relative;
}

.history_right h2::before {
	content: "";
	width: 6px;
	height: 34px;
	background: #e74c3c;
	position: absolute;
	left: -29px;
}

.history_right h2 ~ p {
	font-family: SourceSansPro, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 29px;
	color: rgba(153, 153, 153, 1);
}

button.history {
	background: #e74c3c;
	border: none;
	letter-spacing: 0.12px;
	margin: 33px 0 0;  /*(top 47-14px)*/
}
